{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to the Flask app<h2>
    <h3>This is the home page for the Flask app<h3>
  </div>
  <div class="table-responsive">
  	<table data-toggle="table" class="table">
  		<thead>
  			<tr>
  				<th>Cambio</th>
  				<th data-sortable="true">Compra</th>
  				<th data-sortable="true">Venta</th>
  			</tr>
  			</tr>
  		</thead>
  		<tbody>
  			{% for nom, compra, venta in cambios %}
        <tr>
  				<td>{{ nom }}</td>
  				<td>{{ compra }}</td>
  				<td>{{ venta }}</td>
  			</tr>
        {% endfor %}
  		</tbody>
  	</table>
  </div>
{% endblock %}