{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Bienvenido a Dólar HOY!<h2>
    <h3>Debajo se encuentran las cotizaciones del dólar en diferentes cambios<h3>
  </div>
  <div class="table-responsive">
  	<table data-toggle="table" class="table">
  		<thead>
  			<tr>
  				<th>Cambio</th>
  				<th data-sortable="true">Compra</th>
  				<th data-sortable="true">Venta</th>
  			</tr>
  			</tr>
  		</thead>
  		<tbody>
  			{% for url_cambio, nom, compra, venta in cambios %}
        <tr>
  				<td><a href="{{ url_cambio }}">{{ nom }}</a></td>
  				<td>{{ compra }}</td>
  				<td>{{ venta }}</td>
  			</tr>
        {% endfor %}
  		</tbody>
  	</table>
  </div>
{% endblock %}